// -----------------------------
//  Default page
// -----------------------------


// Subheader
// ---------------

.subhead {
    background-color: @light-grey;
    border-bottom: 1px solid darken(@light-grey, 5%);
    padding: 0;
}


// Drag and drop zone
// ---------------------

.bk-zone {
    margin: 0 auto;
    max-width: 1024px;
}
