{% extends "layout.twig" %}

{% block content %}

<div class="features">

    <!-- Header -->
    {% include 'includes/header-dark.twig' %}

    <ul class="feature-list">

        <li class="feature-template">
            <div class="feature-container">
                <h3>Templates</h3>
                <p>With over 100 professionaly designed templates tochoose from and new designs added every few weeks you'll be spoilt for choice whatever your style.</p>
            </div>
        </li>
        <li class="feature-responsive">
            <div class="feature-container">
                <h3>Responsive</h3>
                <p>Every website built with Similar.net adapts to the screen it's viewed on, whether it's a PC, laptop, tablet or phone.</p>
            </div>
        </li>
        <li class="feature-blog">
            <div class="feature-container">
                <h3>Blog</h3>
                <p>Our blog eidtor makes it easy to manage your posts. Add categories, tags and comments to keep your visitios engaged with your website.</p>
            </div>
        </li>
        <li class="feature-ecommerce">
            <div class="feature-container">
                <h3>Ecommerce</h3>
                <p>start your very own online shop with Similar.net. Out fully integrated ecommerce platform lets you manage everything from store design to sales.</p>
            </div>
        </li>
        <li class="feature-social">
            <div class="feature-container">
                <h3>Social</h3>
                <p>With Similar.net you can easily integrate with your Facebook, Twitter, Google+, Linkedin and YouTube accounts. you can ever add an RSS feed to feature on your website.</p>
            </div>
        </li>
        <li class="feature-menu">
            <div class="feature-container">
                <h3>Menu</h3>
                <p>With our Menu editor, it's easy to manage any kind of menu and make it easy for your customers to find the item they are looking for.</p>
            </div>
        </li>

    </ul>
</div>


<!-- Footer -->
{% include 'includes/footer.twig' %}

{% endblock %}

{% block bodyscripts %}
    <script src="{{asset('js/slick.min.js')}}"></script>

    <script>
        $('.feature-list').slick({
            dots: true,
            arrows: false,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: false,
            autoplaySpeed: 2000,
        });
    </script>

{% endblock %}
