{% extends "layout-alt.twig" %}

{% block content %}

<div class="feature-page">

    <!-- Header -->
    {% include 'includes/header-dark.twig' %}

    <ul class="feature-list">

        <li class="features feature-template">
            <div class="feature-container">
                <h3>Templates</h3>
                <p>With over 100 professionaly designed templates tochoose from and new designs added every few weeks you'll be spoilt for choice whatever your style.</p>
            </div>
        </li>
        <li class="features feature-responsive">
            <div class="feature-container">
                <h3>Responsive</h3>
                <p>Every website built with Similar.net adapts to the screen it's viewed on, whether it's a PC, laptop, tablet or phone.</p>
            </div>
        </li>
        <li class="features feature-blog">
            <div class="feature-container">
                <h3>Blog</h3>
                <p>Our blog eidtor makes it easy to manage your posts. Add categories, tags and comments to keep your visitios engaged with your website.</p>
            </div>
        </li>
        <li class="features feature-ecommerce">
            <div class="feature-container">
                <h3>Ecommerce</h3>
                <p>start your very own online shop with Similar.net. Out fully integrated ecommerce platform lets you manage everything from store design to sales.</p>
            </div>
        </li>
        <li class="features feature-social">
            <div class="feature-container">
                <h3>Social</h3>
                <p>With Similar.net you can easily integrate with your Facebook, Twitter, Google+, Linkedin and YouTube accounts. you can ever add an RSS feed to feature on your website.</p>
            </div>
        </li>
        <li class="features feature-menu">
            <div class="feature-container">
                <h3>Menu</h3>
                <p>With our Menu editor, it's easy to manage any kind of menu and make it easy for your customers to find the item they are looking for.</p>
            </div>
        </li>

    </ul>
</div>


{% endblock %}

{% block bodyscripts %}
    <script src="{{asset('js/jquery.onepage-scroll.min.js')}}"></script>

    <script>
        $(document).ready(function(){
          $(".feature-list").onepage_scroll({
            sectionContainer: ".features",
            responsiveFallback: 650,
            keyboard: true,
            animationTime: 800,
            pagination: true
          });
        });
    </script>

{% endblock %}
