{% extends "layout.twig" %}

{% block content %}

<!-- Header -->
{% include 'includes/header-light.twig' %}

<div role="main" class="login">
    <div class="container">

        <h3 class="text-center">Forgotten password</h3>
        {{widget('forgottenpassword', 'forgottenpassword', {})|raw}}

        <div class="forgot-password">
            <h6><a href="/login">Remembered your password? Login here.</a></h6>
        </div>

    </div>
</div>

<!-- Footer -->
{% include 'includes/footer-small.twig' %}

{% endblock %}
