{% extends "layout.twig" %}

{% block content %}

<div class="feature" role="feature">

	<!-- Header -->
	{% include 'includes/header.twig' %}

	<div class="feature-content">
		<h2>Create a website to share with the world</h2>
		<a class="button large" href="/signup">Get Started</a>
	</div>

</div>

<div role="main">
	<div class="container">

		<section class="promoted-features">

			<ul class="flex-container">
				<li>
					<h3>Drag &amp; Drop</h3>
					<img src="">
					<p>Making a website has never been easier. Drag and drop images and text onto your site, there’s no coding required.</p>
				</li>

				<li>
					<h3>Made For Mobile</h3>
					<img src="">
					<p>Our intuitive website builder makes it easy to create a beautiful website that works on all devices.</p>
				</li>

				<li>
					<h3>Sell Online</h3>
					<img src="">
					<p>Set up an online shop and start taking payments instantly from anywhere in the world.</p>
				</li>
			</ul>

		</section>

		<section class="editor-video">
		</section>

		<section class="template-preview">
		</section>

		<section class="testimonial">
		</section>

	</div>
</div>

<!-- Footer -->
{% include 'includes/footer.twig' %}

{% endblock %}
