{% extends "layout.twig" %}

{% block content %}

<!-- Header -->
{% include 'includes/header-light.twig' %}

<div role="main" class="login">
    <div class="container">

        <h3 class="text-center">Log in to your account</h3>
		{{widget('userlogin', 'userlogin', {})|raw}}

		<div class="forgot-password">
			<h6><a href="/forgot-password">Forgot your password?</a></h6>
		</div>

	</div>
</div>

<!-- Footer -->
{% include 'includes/footer-small.twig' %}

{% endblock %}
