{% extends "layout.twig" %}

{% block content %}

<!-- Header -->
{% include 'includes/header-light.twig' %}

<div role="main" class="pricing">
    <div class="container">

        <div class="pricing-table">

            <ul class="plan-descriptions">
                <li data-tooltip="Sign on Mega Plan if you require to make unlimited number of pages for your website">Pages</li>
                <li data-tooltip="Unlimited responsive templates to choose from at any plan">Templates</li>
                <li data-tooltip="Create and update your blog easily with Similarnet">Blog</li>
                <li data-tooltip="Create Menu for your business easily. Available on Mega Plan only">Menu</li>
                <li data-tooltip="Create online shop, manage product, order, shipping rates and more for your business. Available on Mega Plan only">Ecommerce</li>
                <li data-tooltip="Unlimited storage available on Mega Plan">Storage</li>
                <li data-tooltip="Upload your business logo/individual identity as Favicon at any plan">Custom Favicon</li>
                <li data-tooltip="Add click to call function for immediate call action from interested user. Available on all plans">Click to call</li>
                <li data-tooltip="Add Google Map to show visitors your business location. Available on all plans">Google Maps</li>
                <li data-tooltip="Connect your visitors to your business social pages using social widgets. Available on all plans">Social Widgets</li>
                <li data-tooltip="Edit your uploaded images before posting to your site. Available on all plans">Image Editor</li>
                <li data-tooltip="Map your ready-to-publish sites to domain you own. Not available on free plan">External Domain Mapping</li>
                <li data-tooltip="Edit page script. Not available on free plan">Manage Page Scripts</li>
            </ul>

            <div class="pricing-plans">
                <ul class="one-pager">
                    <li>
                        <h4 class="price-plan">One Pager</h4>
                        <h3 class="price">0</h3>
                    </li>
                    <li>
                        <p>1 <span>Page</span></p>
                    </li>
                    <li>
                        <p>Unlimited <span>Templates</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Blog</span></p>
                    </li>
                    <li>
                        <p class="cross"><span>Menu</span></p>
                    </li>
                    <li>
                        <p class="cross"><span>Ecommerce</span></p>
                    </li>
                    <li>
                        <p>100MB <span>Storage</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Custom Favicon</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Click to call</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Google Maps</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Social Widgets</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Image Editor</span></p>
                    </li>
                    <li>
                        <p class="cross"><span>Domain Mapping</span></p>
                    </li>
                    <li>
                        <p class="cross"><span>Page Scripts</span></p>
                    </li>
                </ul>

                <ul class="basic">
                    <li>
                        <h4 class="price-plan featured">Basic</h4>
                        <h3 class="price">2</h3>
                    </li>
                    <li>
                        <p>5 <span>Pages</span></p>
                    </li>
                    <li>
                        <p>Unlimited <span>Templates</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Blog</span></p>
                    </li>
                    <li>
                        <p class="cross"><span>Menu</span></p>
                    </li>
                    <li>
                        <p class="cross"><span>Ecommerce</span></p>
                    </li>
                    <li>
                        <p>1GB <span>Storage</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Custom Favicon</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Click to call</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Google Maps</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Social Widgets</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Image Editor</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Domain Mapping</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Page Scripts</span></p>
                    </li>
                </ul>

                <ul class="business">
                    <li>
                        <h4 class="price-plan">Business</h4>
                        <h3 class="price">5</h3>
                    </li>
                    <li>
                        <p>20 <span>Pages</span></p>
                    </li>
                    <li>
                        <p>Unlimited <span>Templates</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Blog</span></p>
                    </li>
                    <li>
                        <p class="cross"><span>Menu</span></p>
                    </li>
                    <li>
                        <p class="cross"><span>Ecommerce</span></p>
                    </li>
                    <li>
                        <p>5GB <span>Storage</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Custom Favicon</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Click to call</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Google Maps</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Social Widgets</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Image Editor</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Domain Mapping</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Page Scripts</span></p>
                    </li>
                </ul>

                <ul class="mega">
                    <li>
                        <h4 class="price-plan">Mega</h4>
                        <h3 class="price">20</h3>
                    </li>
                    <li>
                        <p>Unlimited <span>Pages</span></p>
                    </li>
                    <li>
                        <p>Unlimited <span>Templates</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Blog</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Menu</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Ecommerce</span></p>
                    </li>
                    <li>
                        <p>Unlimited <span>Storage</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Custom Favicon</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Click to call</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Google Maps</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Social Widgets</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Image Editor</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Domain Mapping</span></p>
                    </li>
                    <li>
                        <p class="tick"><span>Page Scripts</span></p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- Footer -->
{% include 'includes/footer.twig' %}

{% endblock %}
