<footer class="footer footer-small">
    <div class="container">

        <!-- Navigation -->
        <nav class="navigation  flex-container" role="navigation">
            <ul>
                <li class="copyright"><span>© 2015 Similar.net</span></li>
                <li><a target="_blank" href="">Support</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/affiliates">Affiliates</a></li>
                <li><a href="/login">Login</a></li>
            </ul>

            <ul>
                <li><a href="/terms">T&amp;C</a></li>
                <li><a href="/privacy">Privacy policy</a></li>
                <li class="social"><a class="facebook" href=""></a></li>
                <li class="social"><a class="twitter" href=""></a></li>
            </ul>
        </nav>

    </div>
</footer>
