<header class="header" role="banner">
    <div class="flex-container">

		<!-- Logo -->
        <div class="brand">
            <a href="/home" class="logo">
            	<img src="{{asset('img/similar-logo.png')}}" alt="Similar.net">
            </a>
        </div>

        <!-- Mobile Navigation Toggle -->
        <div class="navigation-toggle"><span></span></div>

        <!-- Navigation -->
    	<nav class="navigation" role="navigation">
            <ul>
                <li><a href="/features">Features</a></li>
				<li><a href="/pricing">Pricing</a></li>
				<li><a target="_blank" href="">Support</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/signup" class="button large">Signup</a></li>
            </ul>
        </nav>

    </div>
</header>
